# Environment files
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
ENV/

# IDEs
.idea/
.vscode/
*.iml

# Byte-compiled / optimized / DLL files
*.egg-info/
.eggs/
.build/

# Streamlit cache
.streamlit/
